.chart
  - if params[:event_name].blank?
    .alert.alert-info
      %strong Heads up!
      to create a chart please select an event,start date and end date.
  - else
    .well
      = line_chart @chart