.container.dashboard
  .row
    .col-md-12
      %h1.page-header Dashboard
      - if current_user.events.any?
        = render 'chart_form'
        = render 'chart_area'
      - else
        = render 'setup_info'